body, form {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	color: #777777;
	font: 12px/1.5 arial, Microsoft YaHei, tahoma, sans-serif;
}
a {
	color: #777777;
	text-decoration: none;
}
.top_nav td {
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-size: 14px;
}
.top_nav td.current {
	background-color: #F24F3D;
	border-bottom: 1px #DF0100 solid;
}
.top_nav a {
	color: #FFFFFF
}
.top_nav a:hover {
	border-bottom: 1px #DF0100 solid;
	display: block;
	height: 54px;
	line-height: 54px;
}
.top_nav td.current a:hover {
	border-bottom: 0px;
}
.a_tit {
	font-size: 14px;
	font-weight: bold;
	height: 30px;
}
.bs1 {
	background: url(images/s1.png) no-repeat
}
.login {
	margin-top: 30px;
	margin-left: 3px;
	border: 1px #E0E0E0 solid;
	background-color: #FFFFFF;
	padding-left: 20px
}
.login input {
	width: 185px;
	height: 35px;
	background-color: #F8F8F8;
	border: 1px #EBEBEB solid;
	line-height: 35px;
}
.login .user {
	background-color: #F8F8F8;
	background-image: url(images/login_u_p_bg.jpg);
	background-repeat: no-repeat;
	background-position: 0px 12px;
	padding-left: 55px;
}
.login .pwd {
	background-color: #F8F8F8;
	background-image: url(images/login_u_p_bg.jpg);
	background-repeat: no-repeat;
	background-position: 0px -14px;
	padding-left: 55px;
}
.title {
	color: #785A3A;
	font-size: 16px;
	font-weight: bold;
}
.title_td_1 {
	height: 2px;
	background-color: #F24F3D;
}
.title_td_2 {
	height: 2px;
	background-color: #E5E5E5;
}
.ad_title {
	color: #7C8389;
	font-size: 16px;
	font-weight: bold;
}
.red_dotted {
	background-image: url(images/list_03.jpg);
	background-repeat: no-repeat;
	background-position: 0px 12px;
}
.list_bg_1 {
	background-image: url(images/list_bg_1.jpg);
	background-repeat: no-repeat;
}
.ad_logo, ul {
	border: 0;
	margin: 0;
	padding: 0;
}
.ad_logo li {
	display: inline-block;
	float: left;
	width: 120px;
	height: 60px;
	margin: 0 3px 0 0;
}
.footer {
	background: #f6f6f8 url(images/footer_bg.jpg) 0 0 repeat-x;
}
.copyright {
	font-family: Tahoma, 'ו', Arial, Helvetica, sans-serif;
}
.footer .links a {
	padding: 1px 5px;
	background-color: #797979;
	color: #fff;
	display: block;
	margin-left: 50px;
	margin-right: 50px
}
.footer .links_1 a {
	display: block;
	margin-left: 50px;
	margin-right: 50px;
	padding: 5px;
}
.top_bg {
	background-image: url(images/top_bg.jpg)
}
.register h2 {
	color: #333;
	font-size: 14px;
}
.register .tip {
	background: #fff9eb;
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #f6eab6;
	color: #333;
}
.input_1 {
	font-size: 14px;
	margin-top: 10px;
}
.input_1 td {
	height: 50px
}
.input_text {
	width: 260px;
	height: 24px;
	margin-right: 5px;
	vertical-align: middle;
	color: #333;
	padding: 2px 4px;
	font-size: 14px;
	background: #FFF;
	border: 1px solid #a8adb6;
}
.qq_kf li {
	display: inline-block;
	float: left;
	height: 34px;
	width: 120px;
	margin: 0 3px 0 0;
	line-height: 34px;
	background-image: url(images/kf_bg.jpg);
	background-position: 0 3px;
	background-repeat: no-repeat;
	padding-left: 4px;
	margin-right: 30px;
}
.qq_kf input {
	vertical-align: middle;
}
.f_submit {
	background: -webkit-gradient(linear, left top, left bottom, from(#8ed53b), to(#7cbd2b));
	background: -moz-linear-gradient(top, #8ed53b, #7cbd2b);
	background-color: #87cb36;
	background-image: none;
	line-height: 30px;
	height: 30px;
	color: #fff;
	font-weight: bold;
	padding: 0 24px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	display: inline-block;
	border-radius: 2px;
}
.b_bc {
	background-color: #D7DDEB;
	margin-top: 1px;
}
.jftit, .jfnum {
	height: 30px;
	line-height: 30px
}
.jful li.jfli1 {
	float: none;
	padding-bottom: 10px;
	line-height: 100%;
	text-align: left;
	width: 170px;
	padding-left: 10px;
}
.jful {
	list-style: square outside;
	text-align: center;
	margin: 0;
	padding: 0;
}
.jful li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0px;
	margin-right: 10px;
	float: left;
	line-height: 160%;
	padding-bottom: 30px;
	width: 170px;
}
.jful li .img {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 120px;
	height: 90px;
}
.jfnum {
	color: #F24F3D;
	margin-right: 5px;
	font-weight: bold;
}
.jftb td {
	padding-left: 5px;
}
.jftb li {
	margin-top: 10px;
	padding-bottom: 1px;
	width: 58px;
}
.jfc_1 {
	background-color: #F24F3D;
	color: #fff;
}
.g_cl a {
	display: block;
	float: left;
	margin-right: 20px
}
.zpage_bt1 {
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.zpage_str {
	width: 38%;
	float: left;
	line-height: 30px;
}
.zpage {
	float: right;
}
.zpage li a {
	background: #fff;
	line-height: 24px;
	padding: 0 10px;
	float: left;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.zpage .data {
	float: right;
	margin: 0;
	height: auto;
}
.zpage .data ul {
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 3px;
}
.zpage .data ul li {
	display: inline;
}
.zpage .data ul li a {
	background: #fff;
	line-height: 24px;
	padding: 0 10px;
	float: left;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.zpage .data .prev a {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px;
}
.zpage .data .last a {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
}
.zpage .data .active a {
	color: #666;
}
.error_span {
	color: #dd6666;
	font-size: 12px;
	font-weight: normal;
	padding-left: 20px;
}
.f_error input[type="text"] {
	color: #b94a48;
	border-color: #b94a48;
}
span.r_error {
	font-size: 11px;
	font-weight: 700;
	color: #C62626;
	padding-left: 20px;
}
.tipinfo {
	margin-top: 30px;
	height: 30px;
	width: 100%;
	margin-bottom: 30px;
}
.tipinfo .text {
	line-height: 30px;
	color: #FFF;
	padding-left: 18px;
	background-color: #B00;
}
.tipinfo .r1, .tipinfo .l2 {
	background-color: #B00;
	border-left: 1px solid #E79F9F;
	border-right: 1px solid #E79F9F;
	padding-top: 1px;
	margin: 0 1px;
}
.tipinfo .r2, .tipinfo .l1 {
	background-color: #B00;
	border-left: 1px solid #E79F9F;
	border-right: 1px solid #E79F9F;
	padding-top: 1px;
}
.article_title {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.box {
	border: 1px solid #EEEEEE;
	padding: 10px;
	background-color: #F7F6EF
}
.box h2 {
	padding: 0px;
	border: 0px;
	margin: 0px
}
.box .spa {
	font-size: 14px
}
.box_tit {
	background-color: #3B84AD;
	color: #FFF;
	font-size: 14px;
	padding-left: 10px
}
#slider {
	width: 660px;
	height: 340px;
	overflow: hidden;
	position: relative;
}
.slidernum li {
	cursor: pointer;
	float: left;
	line-height: 25px;
	text-align: center;
	width: 23px;
}
.slider-reg {
	background: url(images/register.jpg) no-repeat;
	display: block;
	height: 50px;
	width: 160px;
	z-index: 1000;
	left: 3px;
	top: 200px;
	position: absolute;
	float: left;
}
.slider2 {
	left: 340px;
	top: 300px;
	position: absolute;
	float: left;
}
.slider2 a:hover {
	color: #114b7c;
}
.num1, .num2 {
	display: block;
	font: 17px Arial, Simsun;
	font-weight: bold;
	float: left;
	margin-right: 15px;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	line-height: 23px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}
.num1 {
	background: url(images/num0.jpg) no-repeat;
	height: 10px;
	height: 10px;
}
.num2 {
	background: url(images/num2.jpg) no-repeat;
	height: 10px;
	height: 10px;
}
.slider2 a {
	text-decoration: none;
	display: block;
	width: 10px;
	height: 10px;
}
.footer_tit th {
	font-weight: normal;
}
.footer_tit th span {
	background-color: #797979;
	padding: 1px 3px;
	color: #fff;
}
