body {
	font-size: 13px;
	line-height: 18px;
	font-family: microsoft yahei, Tahoma, Verdana, ו;
}
.login{ margin-top:100px}
.login_form{ margin-top:40px; margin-left:40px}
.tit{padding-bottom: 10px; padding-top:10px}
.login_bg {  background-image:url(../images/login_bg.jpg);
/*
border: 1px solid #ccc;
box-shadow: 0 0 6px rgba(0,0,0,0.2);
 -webkit-border-radius: 6px; 
 
-moz-border-radius: 6px;
-ms-border-radius: 6px;

border-radius: 6px; 
*/
}

.text  {
font-size: 12px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: normal;
padding: 3px;
padding-left: 10px;
color: #777;
border-top: solid 1px #c4c4c4;
border-left: solid 1px #c4c4c4;
border-bottom: solid 1px #c4c4c4;
border-right: solid 1px #c4c4c4;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
outline: 0;
width: 80%;
height: 34px;
line-height: 1.428571429;
vertical-align: middle;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
font-size: 18px;
}

.users{background-image: url(../images/login_u.jpg);
background-repeat: no-repeat;
background-position: right;
padding-right: -10px;}

.password{background-image: url(../images/login_p.jpg);
background-repeat: no-repeat;
background-position: right;
padding-right: -10px;}

.checkcode{ width:200px}

.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color: #ffffff;
background-color: #39b3d7;
border-color: #269abc;
}


.tip{ color:#BB0000; font-size:14px; font-weight:bold}