.Calendar_main .input-mini {
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #555;
	font-size: 11px;
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
	margin: 0 0 10px 0;
	padding: 0 6px;
	width: 84px;
}
.Calendar_main label {
	color: #333;
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 2px;
	text-shadow: #fff 1px 1px 0px;
	text-transform: uppercase;
	padding-right: 10px;
	padding-left: 10px;
	height: 34px;
	line-height: 34px;
}
.Calendar_main {
	border: 1px solid #ccc;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-collapse: separate;
}
.Calendar_main .zbtn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.Calendar_main .btn-success {
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
	text-decoration: none;
}
.Calendar_main .btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.Calendar_main .table-condensed th {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
}
.Calendar_main .table-condensed th, .Calendar_main .table-condensed td {
	text-align: center;
	color: #333;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	white-space: nowrap;
}
.Calendar_main .table-condensed td {
	cursor: pointer;
}
.Calendar_main .table-condensed .next, .Calendar_main .table-condensed .prev {
	cursor: pointer;
}
.Calendar_main .calendar_bbb {
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #fff;
}
.Calendar_main .table-condensed tr td.days {
	background-color: #357ebd;
	border-color: #3071a9;
	color: #fff;
}
.Calendar_main .table-condensed tr td.last {
	color: #cccccc;
}
.Calendar_main .next i {
	display: block;
	width: 12px;
	height: 13px;
	background-image: url(next.jpg);
	background-repeat: no-repeat;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
}
.Calendar_main .prev {
	display: block;
	width: 12px;
	height: 13px;
	background-image: url(prev.jpg);
	background-repeat: no-repeat;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
}
